.guess-letter {
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-color: rgb(44 44 44);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.Green {
  background-color: rgb(106 170 100);
  /*background-color: Blue;*/
  /*background-color: Green;*/
}

.Yellow {
  background-color: rgb(201 180 88);
  /*background-color: orange;*/
  /*background-color: Yellow;*/
}

.Purple {
  background-color: Purple;
}

.DarkGray {
  background-color: rgb(58 58 60);
}

.Gray {
  background-color: rgb(129 131 132);
}

.Black {
  background-color: rgb(0 0 0);
}
